body {
    font-family: Arial, sans-serif;
    color: #A76F6F;
    background-color: #070F2B
}

h1 {
    font-size: clamp(1.1rem, 5vw, 1.4rem);
}

code {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background: #7077A1;
    border: 1px solid #1B1A55;
    color: #070F2B;
    width: calc(100% - 40px);
    font-size: clamp(12px, 3vw, 15px);
}

.results {
    margin-top: 20px;
}

.copy-icon {
    color: #7077A1;
}

.info {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.class-icon {
    width: 100px;
    height: auto
}

.class {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 20px
}

.team {
    padding-left: 20px;
    width: 15rem
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 20px
}

.color-circle {
    display: inline-block;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.sector {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon {
    width: 34px;
    height: 30px;
    vertical-align: middle;
    padding-right: 2px;
}

@media (max-width: 500px) {
    .info {
        flex-wrap: wrap;
    }

    .banner,
    .class {
        padding: 0;
        width: 50%;
    }

    .banner {
        order: 2;
    }

    .class {
        order: 3;
    }
}